:root {
    --btn-color: rgb(255, 215, 115);
}

/* styles content below nav */
main {
    margin: 80px 0 50px 0;
}

nav {
    /* background-image: url(/assets/images/name_gen_bkgrnd.jpg);
    image-resolution:inherit;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    background-position: center; */

}   

/* styles the user form container */
#uForm {
    border-radius: 10px;
    margin: 0 100px 0 100px;
    width: 600
}

/* styles content inside of the user submit form */
#userForm {
    word-spacing: 5px;
    padding: 20px;
}

/* styles radio content */
.radio {
    margin: 15px 0 0 80px;
}

/* styles "submit" button */
#sbmt{
    background-color: var(--btn-color);
    width: auto;
    height: auto;
    border-radius: 4px;
}

/* styles color of dropdown buttons */
.drop {
    background-color: var(--btn-color);
    border-radius:5px;

}

/* styles navigation buttons */
.navbar-end button {
    background-color: var(--btn-color);
    margin: 10px;
    height:30px;
}

/* styles Meaning and Name Cards */
.card-content{
    background-color: white;

}

/* positions gen name container */
#name {
    max-width: fit-content;

}


/* styles the text for gen name */
#genName {
    display: flex;
    justify-content: center;
    font-size: larger;
}

/* positions meaning container */
#meaning {
    margin-top: 70px;
    width: 300px;
}

/* styles both gen mini cards */
#bothMiniCards {
    margin-top: 50px;
}

/* styles About us container */
#aboutUs {
    width: 60%;
    text-align: justify;

}

/* styles about us message */
#abText {
    text-indent: 60px;
}