:root {
    --btn-color: rgb(255, 215, 115);
}

/* styles content below nav */
main {
    margin: 80px 0 50px 0;
}  

/* styles the user form container */
#uForm {
    border-radius: 10px;
    margin: 0 100px 0 100px;
    width: 600
}

/* styles content inside of the user submit form */
#userForm {
    word-spacing: 5px;
}

/* styles navigation buttons */
.navbar-end button {
    background-color: var(--btn-color);
    margin: 10px;
    height:30px;
}

/* styles about us message */
#abText {
    text-indent: 60px;
}

/* styles q&a text  */
.qaText {
    word-spacing: 3px;
}

/* styles hyperlink to title of page  */
#navTitle {
    display: contents;
}

/* Adds image to header- image will be decided later  */
/* nav {
    background-image: url(/assets/images/icon_img2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; 

}    */

