:root {
    --btn-color: rgb(255, 215, 115);
}

/*styles entire page */
/* * {
    margin: 10px;
    
} */

/* styles content below nav */
main {
    margin: 120px 0 1px 0;
    height: 740px;
}

/* styles containers that hold both gen-name and meaning*/
.miniCard {
    border-top: 4px;;
    border: 15px solid black;
}

/* styles the container of entire submit form */
#userForm {
    margin-right:70%;
    margin: 60px;
    word-spacing: 5px;
    padding: 20px;
    max-width: 35%;
    margin-top: 80px;
    border-radius: 10px;

}

/* styles radio content */
.radio {
    margin: 15px 0 0 80px;
}

/* styles "submit" button */
#sbmt{
    background-color: var(--btn-color);
    width: auto;
    height: auto;
    border-radius: 4px;
}

/* styles color of dropdown buttons */
.drop {
    background-color: var(--btn-color);
    border-radius:5px;

}

/* styles navigation buttons */
.navbar-end button {
    background-color: var(--btn-color);
    margin: 10px;
    height:30px;
}

/* styles Meaning and Name Cards */
.card-content{
    background-color: white;
    border:3px solid black;
    /* border-radius: 0; */

}

/* positions gen name container */
#name {
    float: right;
    flex: auto;
}


/* styles the text for gen name */
#genName {
    display: flex;
    justify-content: center;
    font-size: larger;
}

/* positions meaning container */
#meaning {
    float: right;
}
